*.pyc
.idea/
.vscode
.DS_Store
*.swp
**/migrations/0*.py
media/flowchart/*.*
media/temp/*.*
media/ticket_file/*.*
!media/workflow_script/demo_script.py
media/notice_script/*.*
!media/notice_script/demo_notice_script.py
tests/testloonflow.sql
settings/config.py
sphinx_docs/build/
sphinx_docs/source/_build/
docker_compose_deploy/loonflow_only/dbdata/*
docker_compose_deploy/loonflow_shutongflow/dbdata/*
frontend/node_modules
coverage_html_report
.coverage
loonflow_test.db
media/DICT视频监控批量派单.xlsx
media/ticket_file/flag
media/ticket_temp/社会面全量点位信息.csv
media/ticket_temp/DICT工单项目文档 - 视频.xlsx
media/ticket_temp/DICT工单项目文档-视频.xlsx
media/ticket_temp/DICT工单项目文档.xlsx
media/ticket_temp/DICT摄像头清单.csv
media/ticket_temp/DICT摄像头清单.xlsx
media/ticket_temp/DICT视频监控批量派单模板v1.0.xlsx
media/ticket_temp/flag_flow10
media/ticket_temp/flag_flow11
media/ticket_temp/loonflow.log
media/ticket_temp/logs/access.log
media/ticket_temp/logs/celery.log
media/ticket_temp/logs/error.log
media/ticket_temp/logs/nginx_access.log
media/ticket_temp/logs/nginx_error.log
media/ticket_temp/logs/winsw-celery.err.log
media/ticket_temp/logs/winsw-celery.err.log.old
media/ticket_temp/logs/winsw-celery.out.log
media/ticket_temp/logs/winsw-celery.out.log.old
media/ticket_temp/logs/winsw-celery.wrapper.log
media/ticket_temp/logs/winsw-flower.err.log
media/ticket_temp/logs/winsw-flower.err.log.old
media/ticket_temp/logs/winsw-flower.out.log
media/ticket_temp/logs/winsw-flower.out.log.old
media/ticket_temp/logs/winsw-flower.wrapper.log
media/ticket_temp/logs/winsw-hook.err.log
media/ticket_temp/logs/winsw-hook.err.log.old
media/ticket_temp/logs/winsw-hook.out.log
media/ticket_temp/logs/winsw-hook.out.log.old
media/ticket_temp/logs/winsw-hook.wrapper.log
media/workflow_script/loonflow_add_work_dict.py
media/workflow_script/loonflow_add_work2.py
media/workflow_script/loonflow_add.py
media/workflow_script/loonflow_add2.py
media/workflow_script/loonflow_flow10_refresh.py
media/workflow_script/loonflow_flow11_add_work_dict.py
media/workflow_script/loonflow_flow11_send_task_dict.py
media/workflow_script/loonflow_refresh.py
media/workflow_script/loonflow_send_task_dict.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
logs/celery.log
logs/loonflow.log
Untitled.ipynb
celery.log
